.imagem-carrossel {
  height: 400px;

  object-position: bottom;
  object-fit: cover;
}

.fonte-titulo {
  font-family: 'Pacifico', cursive;
}

.cor-especial {
  color: darkred !important;
}

.botao-cor-especial {
  background-color: darkred !important;
  color: white !important;
}

.borda-cor-especial {
  border-color: darkred !important;
}

.botao-cor-especial:hover {
  background-color: rgb(173, 0, 0) !important;
}

.card-largura {
  max-width: 18rem !important;
}

.card-posicao-imagem {
  object-fit: cover;

  height: 200px;
}